<!-- start custom head snippets -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
<!-- Table sorting -->
<script src='/assets/tablesort.min.js'></script>
<!-- Include sort types you need -->
<script src='/assets/tablesort.date.min.js'></script>
<script src='/assets/tablesort.dotsep.min.js'></script>
<script src='/assets/tablesort.filesize.min.js'></script>
<script src='/assets/tablesort.monthname.min.js'></script>
<script src='/assets/tablesort.number.min.js'></script>
<!-- end custom head snippets -->
