/* start custom scss snippet */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
}

code {
  font-size: x-large;
  font-weight: 100;
  border: 1px solid silver;
  background: linear-gradient(rgba(#afb3b7, .2), rgba(#afb3b7, .1));
  padding: 10px 40px;
  border-radius: 1px;
  min-width: 350px;
}

samp {
  font-size: large;
  display: block;
  white-space: pre-wrap;
  text-indent: -2em;
  padding-left: 2em;
  text-align: left;
  width: 50%;
  min-width: 350px;
  background: linear-gradient(rgba(#afb3b7, .2), rgba(#afb3b7, .1));
  margin-left: auto;
  margin-right: auto;
  padding: 10px 50px;
  border: 1px solid silver;
  transition: all 0.3s ease-out;
}

table.center {
    margin-left:auto;
    margin-right:auto;
  }

th[role=columnheader]:not(.no-sort) {
	cursor: pointer;
}

th[role=columnheader]:not(.no-sort):after {
	content: '';
	float: right;
	margin-top: 7px;
	border-width: 0 4px 4px;
	border-style: solid;
	border-color: #404040 transparent;
	visibility: hidden;
	opacity: 0;
	-ms-user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

th[aria-sort=ascending]:not(.no-sort):after {
	border-bottom: none;
	border-width: 4px 4px 0;
}

th[aria-sort]:not(.no-sort):after {
	visibility: visible;
	opacity: 0.4;
}

th[role=columnheader]:not(.no-sort):hover:after {
	visibility: visible;
	opacity: 1;
}


table {
  background:#fff;
  max-width:100%;
  border-spacing:0;
  width:100%;
  margin:10px 0;
  border:1px solid #ddd;
  border-collapse:separate;
  *border-collapse:collapsed;
  -webkit-box-shadow:0 0 4px rgba(0,0,0,0.10);
     -moz-box-shadow:0 0 4px rgba(0,0,0,0.10);
          box-shadow:0 0 4px rgba(0,0,0,0.10);
  }
  table th,
  table td {
    padding:8px;
    line-height:18px;
    text-align:left;
    border-top:1px solid #ddd;
    }
  table th {
    background:#eee;
    background:-webkit-gradient(linear, left top, left bottom, from(#f6f6f6), to(#eee));
    background:-moz-linear-gradient(top, #f6f6f6, #eee);
    text-shadow:0 1px 0 #fff;
    font-weight:bold;
    vertical-align:bottom;
    }
  table td {
    vertical-align:top;
    }
  table thead:first-child tr th,
  table thead:first-child tr td {
    border-top:0;
    }
  table tbody + tbody {
    border-top:2px solid #ddd;
    }
  table th + th,
  table td + td,
  table th + td,
  table td + th {
    border-left:1px solid #ddd;
    }
  table thead:first-child tr:first-child th,
  table tbody:first-child tr:first-child th,
  table tbody:first-child tr:first-child td {
    border-top:0;
    }

header {
  width:960px;
  margin:0 auto;
  padding:0 20px;
  }

.limiter {
  width:520px;
  margin:0 auto;
  padding:0 20px;
  }

.links {
  width:480px;
  margin:50px auto 0;
  }
  .links a {
    width:50%;
    float:left;
    }
// a.button {
//   background:#1F90FF;
//   border:1px solid #1f4fff;
//   height:40px;
//   line-height:38px;
//   color:#fff;
//   display:inline-block;
//   text-align:center;
//   padding:0 10px;
//   -webkit-border-radius:1px;
//           border-radius:1px;
//   -webkit-transition:box-shadow 150ms linear;
//      -moz-transition:box-shadow 150ms linear;
//        -o-transition:box-shadow 150ms linear;
//           transition:box-shadow 150ms linear;
//   }
//   a.button:hover {
//     background-color:#0081ff;
//     -webkit-box-shadow:0 1px 5px rgba(0,0,0,0.25);
//             box-shadow:0 1px 5px rgba(0,0,0,0.25);
//     border:1px solid #1f4fff;
//     }
//   a.button:focus,
//   a.button:active {
//     background:#0081ff;
//     -webkit-box-shadow:inset 0 1px 5px rgba(0,0,0,0.25);
//             box-shadow:inset 0 1px 5px rgba(0,0,0,0.25);
//     }

.options {
  margin:10px 0 30px 15px;
  }
  .options h3 {
    display:block;
    padding-top:10px;
    margin-top:20px;
    }
  .options h3:first-child {
    border:none;
    margin-top:0;
    }
/* end custom scss snippet */
